.header{
  background-color: #fff;
  padding: .4rem;
  overflow: hidden;
  height: 3.2rem;
  border-bottom:1px solid #eee;
}
.header-logo{
  color:#1e90ff;
  font-size: 1.4rem;
}
.header-writer{
  font-size: 1.2rem;
  margin-right: 2rem;
  line-height: 2.2rem;
}
.header-writer a{
  color: #f00;
}
.header-txt{
  font-size: 0.6rem;
  color: #999;
  padding-left: 0.3rem;
  line-height: 2.2rem;
}
.ant-meu{
  line-height: 2.8rem;
}
.ant-menu-item{
  font-size:1rem !important;
  padding-left:1rem;
  padding-right:1rem;
}
.menu-right{
  display: flex;
  justify-content: flex-end;
}